<html>
    <head>
        <title>{{Titolo}}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/css1.css') }}">
    </head>
    <body>
      <p>Il Castello Sforzesco è un'imponente fortezza medievale costruita nel XV secolo per volontà di Francesco Sforza, signore di Milano. La struttura si sviluppa su una superficie di oltre 17.000 metri quadrati e presenta un'ampia corte interna circondata da torri e bastioni. Nel corso dei secoli il Castello subì numerose trasformazioni e venne utilizzato come residenza dei duchi di Milano, come prigione e come caserma militare.<br>Oggi il Castello Sforzesco ospita numerosi musei tra cui la Pinacoteca del Castello Sforzesco, che raccoglie opere di artisti rinascimentali come Leonardo da Vinci e Michelangelo, il Museo d'Arte Antica, il Museo degli Strumenti Musicali e il Museo Egizio.<br>Inoltre, all'interno del Castello si trovano anche la Sala delle Asse affrescata da Leonardo da Vinci e il Cortile della Rocchetta, uno dei più suggestivi della fortezza.</p>
        <img src="{{ url_for('static', filename='images/castello.jpg') }}">
    </body>
</html>