<html>
    <head>
        <title>{{Titolo}}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/css1.css') }}">
    </head>
    <body>
       <p>Il Duomo di Milano è la cattedrale simbolo della città, un'imponente struttura gotica costruita tra il XIV e il XIX secolo. La facciata del Duomo è decorata con oltre 3.500 statue in marmo bianco e presenta numerosi dettagli architettonici come guglie, pinnacoli e rosoni. All'interno del Duomo si trovano importanti opere d'arte come il presbiterio in marmo di Carrara e la celebre statua dorata della Madonna.<br>La costruzione del Duomo iniziò nel 1386, su progetto di diversi architetti tra cui Simone da Orsenigo e Francesco di Giorgio Martini. Nel corso dei secoli la cattedrale subì numerosi interventi architettonici e decorativi, tra cui la costruzione delle torri nel XVIII secolo e la realizzazione delle vetrate policrome della facciata nel XIX secolo.
        <br>Oggi il Duomo è uno dei principali simboli della città di Milano, con la sua spettacolare facciata in marmo bianco e la sua terrazza panoramica che offre una vista mozzafiato sulla città.</p>
        <img src="{{ url_for('static', filename='images/duomo.jpg') }}">
    </body>
</html>