<html>
    <head>
        <title>{{Titolo}}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/css1.css') }}">
    </head>
    <body>
        <p>Milano è una tipica città di pianura, che ha potuto espandersi in ogni direzione fino a conglobare i Comuni vicini in un unico, grande centro urbano. Milano è stata fondata dai Galli e conquistata poi dai Romani, essa sorge in un punto strategico del , al centro della Pianura Padana. In epoca medievale fu un importante Comune ed estese la propria supremazia sui territori circostanti.</p>
   
        <img src="{{ url_for('static', filename='images/download.jpg') }}">
    </body>
</html>