<html>
    <head>
        <title>{{Titolo}}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/css1.css') }}">
    </head>
    <body>
        <a href="/duomo"><img src="{{ url_for('static', filename='images/duomo.jpg') }}" class="float"></a>
        <a href="/castello"><img src="{{ url_for('static', filename='images/castello.jpg') }}" class="float"></a>
        <a href="/brera"><img src="{{ url_for('static', filename='images/brera.jpg') }}" class="float"></a>
        <a href="/vittorio"><img src="{{ url_for('static', filename='images/vittorio.jpg') }}" class="float"></a>
    </body>
</html>